<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ariseden.post"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.ariseden.post.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.ameba.post.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.ariseden.post.activities.HomeTabActivity"
            android:screenOrientation="sensorPortrait">
        </activity>

        <service android:name="com.ariseden.post.widget.TimerService"/>

        <activity
            android:name="com.ariseden.post.activities.ImagePostActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ariseden.post.activities.RegisterActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.EditProfileActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.SettingsActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.ViewPostActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.ChatActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.RecentChatListActivity"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.ViewImageActivity"
            android:screenOrientation="sensorPortrait">
        </activity>

        <service android:name="com.ariseden.post.GCMIntentService"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.ameba.post"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.ariseden.post.activities.ThemeInfoActivtiy">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.OpenImageActivity"
            android:theme="@style/Theme_Dialog">
        </activity>
        <activity android:name="com.ariseden.post.activities.BlockListActivity">
        </activity>
        <activity
            android:name="com.ariseden.post.activities.CommentsListActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar">
        </activity>
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.ariseden.post.activities.Email_Verification">
        </activity>
    </application>

</manifest>